.bienvenida {
  text-align: center;
  padding: 50px 0;
  background-color: #f2f2f2;
  background-image: linear-gradient(315deg, #f2f2f2 0%, #c4c4c4 74%);
  color: #333;
  font-family: Arial, sans-serif;
}

.bienvenida h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.bienvenida p {
  font-size: 24px;
  margin-bottom: 40px;
}

.bienvenida button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.bienvenida button:hover {
  background-color: #666;
}

.inicio { 
	padding: 50px 0;
	background-color: #d9d9d9;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
.inicio:target {
  display: block;
}


.inicio h2 {
	text-align: center;
	font-size: 32px;
	margin-bottom: 20px;
	color: #333;
	text-transform: uppercase;
}

.inicio ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.inicio li {
	display: inline-block;
	margin-right: 20px;
	background-color: #f2f2f2;
	padding: 10px 20px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.inicio li:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.inicio a {
	color: #333;
	font-size: 18px;
	text-decoration: none;
}

.inicio a:hover {
	color: #666;
}


.carrera {
  display: block;
  padding: 50px 0;
  background-color: #f7f7f7;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carrera h2 {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.carrera ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.carrera li {
  margin-right: 40px;
}

.carrera li:last-child {
  margin-right: 0;
}

.carrera li a {
  display: block;
  text-align: center;
  padding: 20px 30px;
  border-radius: 5px;
  color: #fff;
  background-color: #4CAF50;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.carrera li a:hover {
  background-color: #3e8e41;
}

.proyecto {
	display: none;
	padding: 50px 0;
	background-color: #d9d9d9;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.proyecto:target {
	display: block;
}

.proyecto h2 {
	text-align: center;
	font-size: 32px;
	margin-bottom: 20px;
	color: #333;
	text-transform: uppercase;
}

.proyecto p {
	text-align: center;
	font-size: 18px;
	color: #666;
	margin-bottom: 40px;
}

.proyecto ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.proyecto li {
	display: inline-block;
	margin-right: 20px;
	background-color: #f2f2f2;
	padding: 10px 20px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.proyecto li:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.proyecto a {
	color: #333;
	font-size: 18px;
	text-decoration: none;
}

.proyecto a:hover {
	color: #666;
}


.proyecto-detallado {
	display: none;
	padding: 50px 0;
	background-color: #d9d9d9;
}

.proyecto-detallado:target {
	display: block;
}

